body {
    display: flex;
    flex-direction: column; 
    margin: 0px;
    min-height: 100vh;
    align-items: center;
	justify-content: center;
}


.drawing-container {
	border: 1px ;
	border-color: black;
	height: 700px;
	width: 700px;
	display: grid;
}

#drawing-cell {
	border: 1px solid;
	border-color: black;
	background: white;

}

#dim-button,
#reset-button,
.color,
#dimension {
	font-family: Roboto, sans-serif;
	font-size: 18px;
}
